.page-content {
  background-color: #E8E4D3;

}

.btn-continue {
  background-color: #cc503c !important;
  color: #E8E4D3 !important;
}

a:hover {
 cursor:pointer;
}

.position-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.7rem;
}

.position-entry:hover {
  background-color: #f1f9ff;

}


.landing-text {
  padding-left: 20px;
}

.customAccordian{
  flex-basis:80%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: left;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}


@media (max-width: 1200px) {

  .customAccordian{
    width: 85vw;
    max-width: 90vw;

  }

}


@media (max-width: 600px) {
  .some-pic  {
    display: none !important;
  }

  .landing-text {
    width: 100vw;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }


  .customAccordian{
    width: 90vw;
    max-width: 95vw;

  }

}

