.linkWrapper{
    font-size: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-right: 2em;
    color: white;
    width: min-content;

}

.linkWrapper:hover{
    text-decoration: underline;
    cursor: pointer;
}

.pageLink{
    text-decoration: none;
}