

.flex-grid {
  display: flex;
}


.flex-grid .col {
  flex: 1;
}

.flex-grid .col-list {
 flex-direction: column;
}

.flex-grid-third {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

.left, .middle, .right { background: #efefef; border: 1px solid #999; }
.middle { flex: 1; text-align: center; }
.right {margin-left: auto; display:flex;}
